.ui-slider { background: green; }
.ui-slider-range { background: #bfa911 !important; }

div#spam_slider { height: 10px; margin-bottom: 10px; width: 300px; }
div#spam_slider_upper_range { background: #ac4040; float: right; height: 100%; border-radius: 0 4px 4px 0; }

span.spam_score { font-size: 14px; font-weight: bold; }
span.spam_score_junk { color: #bfa911; }
span.spam_score_quarantine { color: #ac4040; }