div.uibox.amacube { position: absolute; top: 0; bottom: 0; width: 100%; }

div.amacube table { width: 100%; }
div.amacube table td.ac_from { width: 215px; }
div.amacube table td.ac_subject { width: 336px; }
div.amacube table td.ac_date { width: 121px; }
div.amacube table td.ac_type { width: 94px; }
div.amacube table td.ac_score { width: 74px; }
div.amacube table td.ac_action { width: 100px; }
div.amacube table td.ac_action img { cursor: pointer; height: 20px; padding: 0px 6px; width: 20px; }

div.amacube div#messagelistcontainer { bottom: 0; overflow: hidden; position: absolute; top: 0; width: 100%; }
div.amacube div#messagelist{ bottom: 26px; left: 0; overflow-x: hidden; overflow-y: scroll; position: absolute; right: 0; top: 0; }

div.amacube div#messagelistfooter { background-color: #ededed; bottom: 0; height: 26px; left: 0; position: absolute; right: 0; }
div.amacube div#messagelistfooter div#countcontrols { margin-top: 5px; text-align: center; }

.ac_sort_none { background: inherit; }
.ac_sort_asc { background-image: url('/skins/larry/images/listicons.png'); background-size: auto; background-position: 100% -944px; background-repeat: no-repeat; }
.ac_sort_desc { background-image: url('/skins/larry/images/listicons.png'); background-size: auto; background-position: 100% -912px; background-repeat: no-repeat; }

.loading { background-image: url('/plugins/amacube_wblist/media/spinner.gif'); background-position:  center; background-repeat:  no-repeat; }